<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Mon 27th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:30 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/" target="_blank">Tabular data</a>, <a href="https://datacarpentry.org/OpenRefine-ecology-lesson/" target="_blank">intro to OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break (20 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:20 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/" target="_blank">OpenRefine (filtering, sorting)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>12:10 pm</td>        <!-- time    -->
        <td>Lunch (50 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/" target="_blank">OpenRefine (cleaning, exporting)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>		  
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Tues 28th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:30 am</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">RStudio, datatypes, subsetting</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break (20 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:20 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">CSV files, data frames, factors</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4  -->
        <td>12:10 pm</td>        <!-- time    -->
        <td>Lunch (50 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">Reshaping, analyzing data (tidyverse)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Wed 29th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:30 am</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">Tidyverse continued</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break (20 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:20 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">Visualizing data (ggplot2)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4  -->
        <td>12:10 pm</td>        <!-- time    -->
        <td>Lunch (50 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/" target="_blank">Control flow, dbplyr (SQL databases)?</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 - Thurs 30th</h3>
        <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:30 am</td>
        <td><a href="https://coderefinery.github.io/github-without-command-line/" target="_blank">Git fundamentals, creating repos (GUI)</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break (20 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:20 am</td>        <!-- time    -->
        <td><a href="https://coderefinery.github.io/github-without-command-line/" target="_blank">Working with repos (GUI), getting organized</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4  -->
        <td>12:10 pm</td>        <!-- time    -->
        <td>Lunch (50 min)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://coderefinery.github.io/github-without-command-line/" target="_blank">Pull requests (GUI), project management, websites?</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>2:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
